<br>

<form action="/users/signup" name="insert"  method="POST" class="row g-3">
    <div class="col-md-3">
      <label for="validationDefault01" class="form-label">
        Full name
      </label>
      <input type="text" class="form-control" id="validationDefault01" value="" name =
      "name" required>
    </div>
  </div>
    <div class="row">
    <div class="col-md-4">
      <label for="validationDefault03" class="form-label">Email</label>
      <input type="email" class="form-control" id="validationDefault03" name ="email" placeholder=
      "you@email.com" required>
    </div>
    <div class="col-md-3">
      <label for="validationDefault03" class="form-label">Password</label>
      <input type="text" class="form-control" id="validationDefault04" name ="password" required>
    </div>
  </div>
  <div class="row">
    <div class="col-12" >
      <br>
      <button class="btn btn-lg btn-primary" type="submit">Submit form</button>
    </div></div>
  </form>