<br>
<form action="/users/login" method="POST">
    <div class="row mb-2">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-3">
        <input type="email" name="email" class="form-control" id="inputEmail3">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-3">
        <input type="password" name="password" class="form-control" id="inputPassword3">
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-info">Log in</button>
  </form>
  <div class="alert alert-info" role="alert">
    Not a member? Go ahead and <a href="/users/signup" class="alert-link">sign up</a> to utilize Yet Another To-Do List.
  </div>