<div>
    <form action='/' method='POST'>
    <ul>
        ${data_lang.map(language => { return `
        <li>
            In ${language.name}, I am ${language.rank_text}.
            <br>
                <select placeholder = 'Update your ranking'>
                    <option value="" disabled selected hidden>Update your rank?</option>
                    ${data_rank.map(rank => { return `<option value="${rank.rank_num}">${rank.rank_text}</option>`}).join('')}
                </select>
        </li>`}).join('')}
    </ul>
</div>
<div> 
    <button type="submit">Submit your rankings to the database</button>
    </form>
</div>